.container {
    min-width: 100vw;
    height: 100vh;
    background-color: #ecefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start; /* Snap to the start of this section */
}

.wordHeader {
    width: 100%;
    justify-self: center;
    border-bottom: 1px solid #cecece;
}

.wordFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.paper {
    max-width: 794px;
    min-width: 300px;
    width: clamp(300px, 60vw, 794px);
    height: 100%;
    aspect-ratio: 1/1.414;
    margin-top: 80px;
    background-color: #fff;
    border: 1px solid #cecece;
    margin-top: 80px;
}

/* Mobile layout for GoalsSection */
@media (max-width: 950px) {
    .container {
        min-width: 100%;
        width: 100%;
        min-height: 100vh;
        height: auto;
        overflow-y: visible;
    }

    .paper {
        width: clamp(300px, 90vw, 500px);
        margin-top: 40px;
    }
}
